*{
    margin: 0;
    top: 0;
}
html{
    font-size: 62.5%;
}

body{
    width: 100%;
    background: url(back.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: 3;
    font-family: 'Audiowide', sans-serif;

}
#para{
    text-align: center;
    margin-top: -5rem;
    margin-bottom: 5rem;
    text-shadow: 0.25rem 0 0 white;
}
.head label{
    font-size: 5rem;
    color: white;
    background-color:rgba(253, 55, 5, 0.5);
    border-radius: 0.5rem;
    padding: 1rem;
    letter-spacing: 0.7rem;
    text-shadow: 0rem 0rem 1rem white;
    box-shadow: 0 0 3rem rgb(243, 0, 0);

}
#break{
    margin-bottom: 10rem;
}
.introbar{
    width: 100%;
    margin-top: -4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    word-spacing: 4rem;
    box-shadow: 0 0 2rem rgb(0, 255, 85);
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 2rem;
    background-color: rgba(2, 172, 164, 0.075);
    animation: yoyo 2s linear infinite;
}
.introbar button{
    font-family: 'Audiowide', sans-serif;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 20%;
    letter-spacing: 0.2rem;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-shadow: 0 0 1rem white;
    box-shadow: 0 0 2rem rgb(0, 255, 200);
    cursor: pointer;
    transition: 0.2s;
}
.introbar button:hover{
    font-size: 2.2rem;
    text-shadow: 0 0 5rem rgb(255, 255, 255);
    box-shadow: 0 0 2rem rgb(0, 255, 170);

}
.info{
    height: 40rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: -25rem;
   
}
.info img{
    height: 15rem;
    width: 10rem;
    border-radius: 45%;
    animation: info 2s linear infinite;
}
@keyframes info {
    0%{
        border: 0.3rem solid magenta;
        box-shadow: 0 0 2rem red;
    } 
    25%{
        border: 0.3rem solid greenyellow;
        box-shadow: 0 0 5rem green;
    }   
    50%{
        border: 0.3rem solid red;
        box-shadow: 0 0 5rem skyblue;
    }
    75%{
        border: 0.3rem solid aqua;
        box-shadow: 0 0 5rem white;
    }
    100%{
        border: 0.3rem solid blue;
        box-shadow: 0 0 5rem tomato;
    }
}
.about label{
    color: white;
    font-size: 1.8rem;
}
.about p{
    font-size: 2.7rem;
}
.about pre{
    text-shadow: 0 0 0.5rem white;
    font-size: 2.3rem;
}
.fa-solid{
    color: rgb(21, 255, 0);
    text-shadow: 0 0 0.7rem white;
}
.front{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5rem;
    box-shadow: 0 0 5rem red;
    padding-bottom: 10rem;
    animation: yoyo 2s linear infinite;
}
.head span{
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(45deg);
    padding: 1.6rem;
    border-radius: 1rem;
    border-top-left-radius: 0;
    opacity: 200%;
    text-shadow: 0 0 1rem white;
    box-shadow: 0.03rem 0.2rem 0rem white;
    animation: yoyo 2s linear infinite;

}
@keyframes yoyo {
    0%{
        text-shadow: 0 0 2rem white;
        box-shadow: 0 0 2rem white; 
    }
    25%{
        text-shadow: 0 0 1.5rem red;
        box-shadow: 0 0 1.5rem aqua;
    }
    50%{
        text-shadow: 0 0 1.3rem green;
        box-shadow: 0 0 1.3rem yellow;
    }
    75%{
        text-shadow: 0 0 1rem red;
        box-shadow: 0 0 1rem aqua;
    }
    100%{
        text-shadow: 0 0 0.7rem rgb(0, 255, 76);
        box-shadow: 0 0 0.7rem rgb(247, 0, 255);
    }
}
.socialhead label{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 1rem white;
    padding: 2rem;
    border-radius: 1.5rem;
    font-size: 7rem;
    top: 20rem;
    margin-left: 30rem;
    font-size: 2rem;
    color: white;
    animation: yoyo 2s linear infinite;
}
.socialinks{
    margin-top: -5rem;
    background-color: rgba(57, 242, 255, 0.171);
    padding: 2rem;
    box-shadow: 0 0 2rem #ea00ff75;
    border-radius: 15%;
    height: 5rem;
}
.socialinks a{
    border-radius: 20%;
    margin-left: 14rem;
    font-size: 5rem;
    letter-spacing: 2rem;
    text-decoration: none;
    color: #fff;
}
.socialinks i{
    transition: 0.2s;
}
.socialinks i:hover{
    border-radius: 5rem;
    text-align: center;
    font-size: 5.5rem;
    text-shadow: 0 0 2rem white;
}
.order button{
    font-family: 'Audiowide', sans-serif;
    padding: 2rem;
    color: white;
    background: rgba(0, 255, 21);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 1rem black;
    opacity: 70%;
    transition: 0.3s;
}
.order button:hover{
    cursor: pointer;
    background: rgba(0, 255, 21);
    opacity: 100%;
}
.skills{
    display: flex;
    word-spacing: 0.2rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    

}
.skills img{
    margin-top: 5rem;
    height: 15rem;
    width: 20rem;
    border-radius: 5rem;
}
.skills a{
    text-decoration: none;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10rem;
    border: none;
    outline: none;
    transition: 1s;
    font-size: 1.5rem;
    font-family: 'audiowide', fantasy;
    font-size: 2rem;
    color: white;
    font-display: hide;
    background-color: rgba(0, 0, 0, 0.466);
    animation: skills 10s linear infinite;
    animation-direction: alternate;
    height: 40rem;
    width: 30rem;
    
}
@keyframes skills {

    0%{
        color: white;
        background-color: #000;
        box-shadow: 0 0 5rem gold;

    }
    10%{
        text-shadow: 0 0 2rem white;
        box-shadow: 0 0 5rem red;


    }
    20%{
        text-shadow: 0 0 2rem white;
        box-shadow: 0 0 5rem rgb(238, 255, 0);


    }
    30%{
        text-shadow: 0 0 2rem white;
        box-shadow: 0 0 5rem rgb(5, 243, 203);


    }
    40%{

        text-shadow: 0 0 2rem white;
        box-shadow: 0 0 5rem red;


    }
    50%{
  
        text-shadow: 0 0 2rem white;
        box-shadow: 0 0 5rem rgb(94, 58, 255);

    }
    60%{
 
        text-shadow: 0 0 2rem white;
        box-shadow: 0 0 5rem rgb(0, 153, 158);

    }
    70%{
      
        text-shadow: 0 0 2rem white;
    
        box-shadow: 0 0 5rem rgb(141, 2, 175);

    }
    80%{
     
        text-shadow: 0 0 2rem white;

        box-shadow: 0 0 5rem red;

    }
    90%{
     
        text-shadow: 0 0 2rem white;
    
        box-shadow: 0 0 5rem rgb(0, 26, 255);

    }
    100%{
     
        text-shadow: 0 0 2rem rgb(255, 0, 0);
        
        box-shadow: 0 0 5rem rgb(9, 255, 0);
    }
}
.skills p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.contactme label{
    color: white;
    font-size: 2rem;
    margin-left: 37%;
    background-color: rgba(248, 6, 6, 0.7);
    transform: rotate(45deg);
    padding: 1.6rem;
    border-radius: 1rem;
    border-top-left-radius: 0;
    opacity: 200%;
    text-shadow: 0 0 1rem white;
    box-shadow: 0.03rem 0.2rem 0rem white;
    animation: yoyo 2s linear infinite;
    
    }
    @keyframes yoyo {
        0%{
            text-shadow: 0 0 2rem white;
            box-shadow: 0 0 2rem white; 
        }
        25%{
            text-shadow: 0 0 1.5rem red;
            box-shadow: 0 0 1.5rem aqua;
        }
        50%{
            text-shadow: 0 0 1.3rem green;
            box-shadow: 0 0 1.3rem yellow;
        }
        75%{
            text-shadow: 0 0 1rem red;
            box-shadow: 0 0 1rem aqua;
        }
        100%{
            text-shadow: 0 0 0.7rem rgb(0, 255, 76);
            box-shadow: 0 0 0.7rem rgb(247, 0, 255);
        }
    }
    .contactme{
        background-color: rgba(0, 0, 0, 0.7);
        padding-bottom: 3rem;
        box-shadow: 0 0 0.3rem red;
    }
    .contactme span{
        color: white;
        font-size: 2rem;
        margin-left: 38%;
    }
    .contactme i{
        padding: 0.5rem;
        color: red;
        margin-bottom: 1rem;
        text-shadow: none;
    }
    .email button{
        margin-top: -12rem;
        margin-bottom: 3rem;
        padding: 2rem;
        border-radius: 10rem;
        animation: yoyo 5s linear infinite;
        border: none;
        outline: none;
        background-color: rgba(1, 10, 8, 0.726);
        color: white;
        font-size: 1.5rem;
        font-family: 'AudioWide', sans-serif;
        letter-spacing: 0.3rem;
        cursor: pointer;
        transition: 0.2s;
    }
    .email button:hover{
        font-size: 1.7rem;
        background-color: #fff;
        color: #000;

    }
    .email form{
        width: 50rem;
        height: 55rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1rem;
        box-shadow: 0 0 3rem red;
        animation: email 0.5s linear infinite;
    }
    @keyframes email {
        0%{
            box-shadow: 0 0 1rem red;
        }
        25%{
            box-shadow: 0 0 2rem rgb(255, 149, 10);
        }
        50%{
            box-shadow: 0 0 3rem rgb(0, 248, 12);
        }75%{

        }
        100%{
            box-shadow: 0 0 2rem rgb(0, 38, 255);
        }
        
    }
    .email label{
        font-size: 2rem;
        color: #fff;
        text-shadow: 0 0 1rem rgb(2, 206, 155);
    }
    .email input{
        font-size: 1.5rem;
        border: none;
        outline: none;
        background: none;
        text-align: center;
        border-bottom: 0.2rem solid rgba(132, 0, 255, 0.719);
        border-radius: 5rem;
        box-shadow: 0 0 1.5rem rgb(3, 194, 168);
        width: 25rem;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .email span{
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 1rem white;
        padding: 2rem;
        border-radius: 1.5rem;
        font-size: 2rem;
        color: white;
        animation: yoyo 2s linear infinite;
    }
    .email p{
        margin-bottom: 2rem;
    }
    #complain{
        margin-bottom: 5rem;
        border: 0.1rem solid red;
        width: 10rem;
    }
    .watermark{
        background-color: rgba(2, 2, 2, 0.87);
        height: 30rem;
        box-shadow: 0 0 0.5rem white;

    }
    .watermark p{
        font-family: 'Times New Roman', sans-serif;
        color: white;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
    .watermark img{
        margin-left: 45%;
        height: 10rem;
        width: 7rem;
        border-radius: 40%;
    }
    #navibreak{
        margin-top: 10%;
    }
    .collect{
        justify-content: center;
        text-align: center;
        text-align: center;

    }
    .collect h2{
        animation: yoyo 2s linear infinite;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 2rem;
        color: white;
        padding: 1rem;
        letter-spacing: 0.3rem;
    }
    .collect span{
        color: white;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0.5rem;
        box-shadow: 0 0 1rem rgb(252, 0, 0);
    }
    .collect label{
        color: white;
        font-size: 3rem;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1.6rem;
        border-radius: 1rem;
        border-top-left-radius: 0;
        text-shadow: 0 0 1rem white;
        box-shadow: 0 0 0rem white;
        animation: yoyo 2s linear infinite;
    
    }
    @keyframes yoyo {
        0%{
            text-shadow: 0 0 2rem white;
            box-shadow: 0 0 2rem white; 
        }
        25%{
            text-shadow: 0 0 1.5rem red;
            box-shadow: 0 0 1.5rem aqua;
        }
        50%{
            text-shadow: 0 0 1.3rem green;
            box-shadow: 0 0 1.3rem yellow;
        }
        75%{
            text-shadow: 0 0 1rem red;
            box-shadow: 0 0 1rem aqua;
        }
        100%{
            text-shadow: 0 0 0.7rem rgb(0, 255, 76);
            box-shadow: 0 0 0.7rem rgb(247, 0, 255);
        }
    }
    #visitcard{
        border: 0.3rem solid rgb(255, 174, 0);
        box-shadow: 0 0 2rem red;
        height: 30rem;
        width: 50rem;
    }